<h1>Eight & Eight Invoice System</h1>
<p>This is a Sails.js app for a invoice management system</p>
<a href="/invoice/list" class="btn btn-light">View Invoices</a>
<a href="/invoice/add" class="btn btn-light">Create New Invoice</a>

