  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">View Invoices</li>
  </ol>
  <h1 class="display-4">View Invoices</h1> 
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Invoice ID</th>
            <th>Invoice Date</th>
            <th>Total Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% invoice.forEach(function(invoice){ %>
            <tr>
              <td><%= invoice.id %></td>
              <td><%= invoice.createdAt %></td>
              <td><%= InvoiceService.calculateTotal(invoice.shoppingCart) %></td>
              <td>
                <a href="/invoice/details/<%= invoice.id %>" class="btn btn-primary">View Invoice</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
